{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'attr': {'class': 'form-inline','role':'form'} }) }}
	<div class="form-group">
		<label class="col-md-4 control-label">Old Password</label>
		<div class="col-md-6">
			{{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label">New Password</label>
		<div class="col-md-6">
			{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-4 control-label">Retype New Password</label>
		<div class="col-md-6">
			{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-6 col-md-offset-4">
			<button type="submit" id="_submit" name="_submit" class="btn btn-primary">Submit</button>
		</div>
	</div>		    
{{ form_end(form) }}
